.form{
  height: 100%;
}

body
{
  background-color: #CCCCCC;

}

.page
{
  width: 780px;
  margin: auto;
  font-size: 16px;
  font-family: "Source sans Pro", Calibri, Tahoma, sans-serif;
  padding: 40px;
  border: 5px solid #3388CC;
  border-radius: 10px;
  box-shadow: 2px 4px 3px black;
  background-color: #FFFFFF;
}

strong
{
  font-size: 26px;
}

h2
{
  font-size: 28px;
  color: #3388BB;
  text-transform: uppercase;
  border-bottom: 3px solid #3388DD;
}

.titre
{
  font-weight: bold;
  font-size: 20px;
}

.infophoto
{
  height: 250px;
}

.info
{
  float:left;
}

.photo
{
  float: right;
}

.bloc
{
  margin-bottom: 70px;
  text-align: justify;
}

.gauche
{
  float: left;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  width: 15%;
}

.droite
{
  float: right;
  width: 70%;
}
